<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="access/css/krakenBM.css" rel="stylesheet">
    <script src="access/js/krakenBM.js"></script>
    <title>blog</title>
</head>
<body>

<header class="pointer-events-none relative z-50 flex flex-col"
        style="height:var(--header-height);margin-bottom:var(--header-mb)">
    <div class="top-0 z-10 h-16 pt-6" style="position:var(--header-position)">
        <div class="sm:px-8 top-[var(--header-top,theme(spacing.6))] w-full"
             style="position:var(--header-inner-position)">
            <div class="mx-auto max-w-7xl lg:px-8">
                <div class="relative px-4 sm:px-8 lg:px-12">
                    <div class="mx-auto max-w-2xl lg:max-w-5xl">
                        <div class="relative flex gap-4">
                            <div class="flex flex-1">
                                <div class="h-10 w-10 rounded-full bg-white/90 p-0.5 shadow-lg shadow-zinc-800/5 ring-1 ring-zinc-900/5 backdrop-blur dark:bg-zinc-800/90 dark:ring-white/10">
                                    <a aria-label="Home" class="pointer-events-auto" href="index.html">
                                        <img alt=""
                                             fetchpriority="high"
                                             width="512"
                                             height="512"
                                             decoding="async"
                                             data-nimg="1"
                                             class="rounded-full bg-zinc-100 object-cover dark:bg-zinc-800 h-9 w-9"
                                             sizes="2.25rem"
                                             src="https://bearmax.ru/local/templates/33/assets/images/png/xbearmax_black.png.pagespeed.ic.7qcvi8tmgt.png"
                                             style="color: transparent;"></a>
                                </div>
                            </div>
                            <div class="flex flex-1 justify-end md:justify-center">
                                <div class="pointer-events-auto md:hidden" data-headlessui-state="">
                                    <button class="group flex items-center rounded-full bg-white/90 px-4 py-2 text-sm font-medium text-zinc-800 shadow-lg shadow-zinc-800/5 ring-1 ring-zinc-900/5 backdrop-blur dark:bg-zinc-800/90 dark:text-zinc-200 dark:ring-white/10 dark:hover:ring-white/20"
                                            type="button" aria-expanded="false" data-headlessui-state=""
                                            id="headlessui-popover-button-:R2qb6:">Menu
                                        <svg viewBox="0 0 8 6" aria-hidden="true"
                                             class="ml-3 h-auto w-2 stroke-zinc-500 group-hover:stroke-zinc-700 dark:group-hover:stroke-zinc-400">
                                            <path d="M1.75 1.75 4 4.25l2.25-2.5" fill="none" stroke-width="1.5"
                                                  stroke-linecap="round" stroke-linejoin="round"></path>
                                        </svg>
                                    </button>
                                </div>
                                <nav class="pointer-events-auto hidden md:block">
                                    <ul class="flex rounded-full bg-white/90 px-3 text-sm font-medium text-zinc-800 shadow-lg shadow-zinc-800/5 ring-1 ring-zinc-900/5 backdrop-blur dark:bg-zinc-800/90 dark:text-zinc-200 dark:ring-white/10">
                                        <li>
                                            <a class="relative block px-3 py-2 transition hover:text-indigo-500 dark:hover:text-indigo-400"
                                               href="blog.html">Блог</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="flex justify-end md:flex-1">
                                <div class="pointer-events-auto">
                                    <button type="button" aria-label="Toggle dark mode"
                                            class="group rounded-full bg-white/90 px-3 py-2 shadow-lg shadow-zinc-800/5 ring-1 ring-zinc-900/5 backdrop-blur transition dark:bg-zinc-800/90 dark:ring-white/10 dark:hover:ring-white/20">
                                        <svg viewBox="0 0 24 24" stroke-width="1.5" stroke-linecap="round"
                                             stroke-linejoin="round" aria-hidden="true"
                                             class="h-6 w-6 fill-zinc-100 stroke-zinc-500 transition group-hover:fill-zinc-200 group-hover:stroke-zinc-700 dark:hidden [@media(prefers-color-scheme:dark)]:fill-indigo-50 [@media(prefers-color-scheme:dark)]:stroke-indigo-500 [@media(prefers-color-scheme:dark)]:group-hover:fill-indigo-50 [@media(prefers-color-scheme:dark)]:group-hover:stroke-indigo-600">
                                            <path d="M8 12.25A4.25 4.25 0 0 1 12.25 8v0a4.25 4.25 0 0 1 4.25 4.25v0a4.25 4.25 0 0 1-4.25 4.25v0A4.25 4.25 0 0 1 8 12.25v0Z"></path>
                                            <path d="M12.25 3v1.5M21.5 12.25H20M18.791 18.791l-1.06-1.06M18.791 5.709l-1.06 1.06M12.25 20v1.5M4.5 12.25H3M6.77 6.77 5.709 5.709M6.77 17.73l-1.061 1.061"
                                                  fill="none"></path>
                                        </svg>
                                        <svg viewBox="0 0 24 24" aria-hidden="true"
                                             class="hidden h-6 w-6 fill-zinc-700 stroke-zinc-500 transition dark:block [@media(prefers-color-scheme:dark)]:group-hover:stroke-zinc-400 [@media_not_(prefers-color-scheme:dark)]:fill-indigo-400/10 [@media_not_(prefers-color-scheme:dark)]:stroke-indigo-500">
                                            <path d="M17.25 16.22a6.937 6.937 0 0 1-9.47-9.47 7.451 7.451 0 1 0 9.47 9.47ZM12.75 7C17 7 17 2.75 17 2.75S17 7 21.25 7C17 7 17 11.25 17 11.25S17 7 12.75 7Z"
                                                  stroke-width="1.5" stroke-linecap="round"
                                                  stroke-linejoin="round"></path>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<main>
    <div class="sm:px-8 mt-16 sm:mt-32">
        <div class="mx-auto max-w-7xl lg:px-8">
            <div class="relative px-4 sm:px-8 lg:px-12">
                <div class="mx-auto max-w-2xl lg:max-w-5xl">
                    <header class="max-w-2xl">
                        <h1 class="text-4xl font-bold tracking-tight text-zinc-800 dark:text-zinc-100 sm:text-5xl">
                            Блог - Идеи о главном!</h1>
                        <p class="mt-6 text-base text-zinc-600 dark:text-zinc-400">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aperiam aspernatur
                            corporis, cumque, dolore dolorum eaque esse est ex excepturi facere magnam molestiae
                            mollitia non similique tempora vero voluptates voluptatum.
                        </p>
                    </header>
                    <div class="mt-16 sm:mt-20">
                        <ul role="list" class="grid grid-cols-1 gap-x-12 gap-y-16 sm:grid-cols-2 lg:grid-cols-3">
                            <li class="group relative flex flex-col items-start">
                                <div class="relative z-10 flex h-12 w-12 items-center justify-center rounded-full bg-white shadow-md shadow-zinc-800/5 ring-1 ring-zinc-900/5 dark:border dark:border-zinc-700/50 dark:bg-zinc-800 dark:ring-0">
                                    <img alt="" loading="lazy" width="32" height="32" decoding="async" data-nimg="1"
                                         class="h-8 w-8" src="https://git-scm.com/images/logos/logomark-orange@2x.png"
                                         style="color: transparent;">
                                </div>
                                <h2 class="mt-6 text-base font-semibold text-zinc-800 dark:text-zinc-100">
                                    <div class="absolute -inset-x-4 -inset-y-6 z-0 scale-95 bg-zinc-50 opacity-0 transition group-hover:scale-100 group-hover:opacity-100 dark:bg-zinc-800/50 sm:-inset-x-6 sm:rounded-2xl"></div>
                                    <a href="blog-section.html">
                                        <span class="absolute -inset-x-4 -inset-y-6 z-20 sm:-inset-x-6 sm:rounded-2xl"></span>
                                        <span class="relative z-10">.git</span>
                                    </a>
                                </h2>
                                <p class="relative z-10 mt-2 text-sm text-zinc-600 dark:text-zinc-400">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aut distinctio
                                    doloribus, eaque et fugit in iste itaque iusto neque nihil odio perspiciatis quia
                                    reiciendis repellendus sapiente sed totam veniam?
                                </p>
                                <a href="blog-section.html" aria-hidden="true"
                                   class="relative z-10 mt-4 flex items-center text-sm font-medium text-indigo-500">
                                    Смотреть
                                    <svg viewBox="0 0 16 16" fill="none" aria-hidden="true"
                                         class="ml-1 h-4 w-4 stroke-current">
                                        <path d="M6.75 5.75 9.25 8l-2.5 2.25" stroke-width="1.5" stroke-linecap="round"
                                              stroke-linejoin="round"></path>
                                    </svg>
                                </a>
                            </li>

                            <li class="group relative flex flex-col items-start">
                                <div class="relative z-10 flex h-12 w-12 items-center justify-center rounded-full bg-white shadow-md shadow-zinc-800/5 ring-1 ring-zinc-900/5 dark:border dark:border-zinc-700/50 dark:bg-zinc-800 dark:ring-0">
                                    <img alt="" loading="lazy" width="32" height="32" decoding="async" data-nimg="1"
                                         class="h-8 w-8" src="https://cdn.dribbble.com/users/2965683/screenshots/7161445/artboard_2-100.jpg"
                                         style="color: transparent;">
                                </div>
                                <h2 class="mt-6 text-base font-semibold text-zinc-800 dark:text-zinc-100">
                                    <div class="absolute -inset-x-4 -inset-y-6 z-0 scale-95 bg-zinc-50 opacity-0 transition group-hover:scale-100 group-hover:opacity-100 dark:bg-zinc-800/50 sm:-inset-x-6 sm:rounded-2xl"></div>
                                    <a href="blog-section.html">
                                        <span class="absolute -inset-x-4 -inset-y-6 z-20 sm:-inset-x-6 sm:rounded-2xl"></span>
                                        <span class="relative z-10">Linux</span>
                                    </a>
                                </h2>
                                <p class="relative z-10 mt-2 text-sm text-zinc-600 dark:text-zinc-400">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam asperiores corporis dolor et facere labore non porro, sed? A eaque fugiat iusto labore modi nostrum odio quam, qui reiciendis veritatis?
                                </p>
                                <a href="blog-section.html" aria-hidden="true"
                                   class="relative z-10 mt-4 flex items-center text-sm font-medium text-indigo-500">
                                    Смотреть
                                    <svg viewBox="0 0 16 16" fill="none" aria-hidden="true"
                                         class="ml-1 h-4 w-4 stroke-current">
                                        <path d="M6.75 5.75 9.25 8l-2.5 2.25" stroke-width="1.5" stroke-linecap="round"
                                              stroke-linejoin="round"></path>
                                    </svg>
                                </a>
                            </li>

                            <li class="group relative flex flex-col items-start">
                                <div class="relative z-10 flex h-12 w-12 items-center justify-center rounded-full bg-white shadow-md shadow-zinc-800/5 ring-1 ring-zinc-900/5 dark:border dark:border-zinc-700/50 dark:bg-zinc-800 dark:ring-0">
                                    <img alt="" loading="lazy" width="32" height="32" decoding="async" data-nimg="1"
                                         class="h-8 w-8" src="https://www.kindpng.com/picc/m/455-4556924_website-icon-pink-png-png-download-website-icon.png"
                                         style="color: transparent;">
                                </div>
                                <h2 class="mt-6 text-base font-semibold text-zinc-800 dark:text-zinc-100">
                                    <div class="absolute -inset-x-4 -inset-y-6 z-0 scale-95 bg-zinc-50 opacity-0 transition group-hover:scale-100 group-hover:opacity-100 dark:bg-zinc-800/50 sm:-inset-x-6 sm:rounded-2xl"></div>
                                    <a href="blog-section.html">
                                        <span class="absolute -inset-x-4 -inset-y-6 z-20 sm:-inset-x-6 sm:rounded-2xl"></span>
                                        <span class="relative z-10">WEB</span>
                                    </a>
                                </h2>
                                <p class="relative z-10 mt-2 text-sm text-zinc-600 dark:text-zinc-400">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci architecto consectetur, cum cumque dolores ea eius et facere fugit libero necessitatibus praesentium quas quibusdam repellendus ullam, ut vel veritatis vero?
                                </p>
                                <a href="blog-section.html" aria-hidden="true"
                                   class="relative z-10 mt-4 flex items-center text-sm font-medium text-indigo-500">
                                    Смотреть
                                    <svg viewBox="0 0 16 16" fill="none" aria-hidden="true"
                                         class="ml-1 h-4 w-4 stroke-current">
                                        <path d="M6.75 5.75 9.25 8l-2.5 2.25" stroke-width="1.5" stroke-linecap="round"
                                              stroke-linejoin="round"></path>
                                    </svg>
                                </a>
                            </li>

                            <li class="group relative flex flex-col items-start">
                                <div class="relative z-10 flex h-12 w-12 items-center justify-center rounded-full bg-white shadow-md shadow-zinc-800/5 ring-1 ring-zinc-900/5 dark:border dark:border-zinc-700/50 dark:bg-zinc-800 dark:ring-0">
                                    <img alt="" loading="lazy" width="32" height="32" decoding="async" data-nimg="1"
                                         class="h-8 w-8" src="https://img.favpng.com/23/8/18/computer-icons-computer-programming-portable-network-graphics-logo-png-favpng-5Y1UUaqk2Be9AL3r4kgixqxqc.jpg"
                                         style="color: transparent;">
                                </div>
                                <h2 class="mt-6 text-base font-semibold text-zinc-800 dark:text-zinc-100">
                                    <div class="absolute -inset-x-4 -inset-y-6 z-0 scale-95 bg-zinc-50 opacity-0 transition group-hover:scale-100 group-hover:opacity-100 dark:bg-zinc-800/50 sm:-inset-x-6 sm:rounded-2xl"></div>
                                    <a href="blog-section.html">
                                        <span class="absolute -inset-x-4 -inset-y-6 z-20 sm:-inset-x-6 sm:rounded-2xl"></span>
                                        <span class="relative z-10">Разработка ПО</span>
                                    </a>
                                </h2>
                                <p class="relative z-10 mt-2 text-sm text-zinc-600 dark:text-zinc-400">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab atque, beatae ducimus, eaque inventore iste maiores molestiae perferendis provident repellat repellendus totam ut. Ad amet eaque magnam nam voluptates.
                                </p>
                                <a href="blog-section.html" aria-hidden="true"
                                   class="relative z-10 mt-4 flex items-center text-sm font-medium text-indigo-500">
                                    Смотреть
                                    <svg viewBox="0 0 16 16" fill="none" aria-hidden="true"
                                         class="ml-1 h-4 w-4 stroke-current">
                                        <path d="M6.75 5.75 9.25 8l-2.5 2.25" stroke-width="1.5" stroke-linecap="round"
                                              stroke-linejoin="round"></path>
                                    </svg>
                                </a>
                            </li>

                            <li class="group relative flex flex-col items-start">
                                <div class="relative z-10 flex h-12 w-12 items-center justify-center rounded-full bg-white shadow-md shadow-zinc-800/5 ring-1 ring-zinc-900/5 dark:border dark:border-zinc-700/50 dark:bg-zinc-800 dark:ring-0">
                                    <img alt="" loading="lazy" width="32" height="32" decoding="async" data-nimg="1"
                                         class="h-8 w-8" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTN96YnL_Xznuwd_6vMg-seT92jI5xSFKEKZx7r6tQR-X3S-uuhZzUNJlhPpvVyebM8DLs&usqp=CAU"
                                         style="color: transparent;">
                                </div>
                                <h2 class="mt-6 text-base font-semibold text-zinc-800 dark:text-zinc-100">
                                    <div class="absolute -inset-x-4 -inset-y-6 z-0 scale-95 bg-zinc-50 opacity-0 transition group-hover:scale-100 group-hover:opacity-100 dark:bg-zinc-800/50 sm:-inset-x-6 sm:rounded-2xl"></div>
                                    <a href="blog-section.html">
                                        <span class="absolute -inset-x-4 -inset-y-6 z-20 sm:-inset-x-6 sm:rounded-2xl"></span>
                                        <span class="relative z-10">СУБД</span>
                                    </a>
                                </h2>
                                <p class="relative z-10 mt-2 text-sm text-zinc-600 dark:text-zinc-400">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab atque, beatae ducimus, eaque inventore iste maiores molestiae perferendis provident repellat repellendus totam ut. Ad amet eaque magnam nam voluptates.
                                </p>
                                <a href="blog-section.html" aria-hidden="true"
                                   class="relative z-10 mt-4 flex items-center text-sm font-medium text-indigo-500">
                                    Смотреть
                                    <svg viewBox="0 0 16 16" fill="none" aria-hidden="true"
                                         class="ml-1 h-4 w-4 stroke-current">
                                        <path d="M6.75 5.75 9.25 8l-2.5 2.25" stroke-width="1.5" stroke-linecap="round"
                                              stroke-linejoin="round"></path>
                                    </svg>
                                </a>
                            </li>

                            <li class="group relative flex flex-col items-start">
                                <div class="relative z-10 flex h-12 w-12 items-center justify-center rounded-full bg-white shadow-md shadow-zinc-800/5 ring-1 ring-zinc-900/5 dark:border dark:border-zinc-700/50 dark:bg-zinc-800 dark:ring-0">
                                    <img alt="" loading="lazy" width="32" height="32" decoding="async" data-nimg="1"
                                         class="h-8 w-8" src="https://png.pngtree.com/png-clipart/20210321/original/pngtree-technology-logo-template-png-image_6139771.jpg"
                                         style="color: transparent;">
                                </div>
                                <h2 class="mt-6 text-base font-semibold text-zinc-800 dark:text-zinc-100">
                                    <div class="absolute -inset-x-4 -inset-y-6 z-0 scale-95 bg-zinc-50 opacity-0 transition group-hover:scale-100 group-hover:opacity-100 dark:bg-zinc-800/50 sm:-inset-x-6 sm:rounded-2xl"></div>
                                    <a href="blog-section.html">
                                        <span class="absolute -inset-x-4 -inset-y-6 z-20 sm:-inset-x-6 sm:rounded-2xl"></span>
                                        <span class="relative z-10">Технологии</span>
                                    </a>
                                </h2>
                                <p class="relative z-10 mt-2 text-sm text-zinc-600 dark:text-zinc-400">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab atque, beatae ducimus, eaque inventore iste maiores molestiae perferendis provident repellat repellendus totam ut. Ad amet eaque magnam nam voluptates.
                                </p>
                                <a href="blog-section.html" aria-hidden="true"
                                   class="relative z-10 mt-4 flex items-center text-sm font-medium text-indigo-500">
                                    Смотреть
                                    <svg viewBox="0 0 16 16" fill="none" aria-hidden="true"
                                         class="ml-1 h-4 w-4 stroke-current">
                                        <path d="M6.75 5.75 9.25 8l-2.5 2.25" stroke-width="1.5" stroke-linecap="round"
                                              stroke-linejoin="round"></path>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<footer class="mt-32">
    <div class="sm:px-8">
        <div class="mx-auto max-w-7xl lg:px-8">
            <div class="border-t border-zinc-100 pb-16 pt-10 dark:border-zinc-700/40">
                <div class="relative px-4 sm:px-8 lg:px-12">
                    <div class="mx-auto max-w-2xl lg:max-w-5xl">
                        <div class="flex flex-col items-center justify-between gap-6 sm:flex-row">
                            <div class="flex flex-wrap justify-center gap-x-6 gap-y-1 text-sm font-medium text-zinc-800 dark:text-zinc-200">
                                <a class="transition hover:text-indigo-500 dark:hover:text-indigo-400"
                                   href="blog.html">Блог</a>
                                <a class="transition hover:text-indigo-500 dark:hover:text-indigo-400" href="#">Privacy
                                    Policy</a>
                                <a class="transition hover:text-indigo-500 dark:hover:text-indigo-400" href="#">Terms of
                                    Use</a>
                                <a class="transition hover:text-indigo-500 dark:hover:text-indigo-400" href="#">Site
                                    Map</a>
                            </div>
                            <p class="text-sm text-zinc-400 dark:text-zinc-500">
                                © <!-- -->2023<!-- --> bearmax.ru. All rights reserved.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

</body>
</html>