<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="access/css/krakenBM.css" rel="stylesheet">
    <title>Blog - sections</title>
</head>
<body>

<header class="pointer-events-none relative z-50 flex flex-col"
        style="height:var(--header-height);margin-bottom:var(--header-mb)">
    <div class="top-0 z-10 h-16 pt-6" style="position:var(--header-position)">
        <div class="sm:px-8 top-[var(--header-top,theme(spacing.6))] w-full"
             style="position:var(--header-inner-position)">
            <div class="mx-auto max-w-7xl lg:px-8">
                <div class="relative px-4 sm:px-8 lg:px-12">
                    <div class="mx-auto max-w-2xl lg:max-w-5xl">
                        <div class="relative flex gap-4">
                            <div class="flex flex-1">
                                <div class="h-10 w-10 rounded-full bg-white/90 p-0.5 shadow-lg shadow-zinc-800/5 ring-1 ring-zinc-900/5 backdrop-blur dark:bg-zinc-800/90 dark:ring-white/10">
                                    <a aria-label="Home" class="pointer-events-auto" href="index.html">
                                        <img alt=""
                                             fetchpriority="high"
                                             width="512"
                                             height="512"
                                             decoding="async"
                                             data-nimg="1"
                                             class="rounded-full bg-zinc-100 object-cover dark:bg-zinc-800 h-9 w-9"
                                             sizes="2.25rem"
                                             src="https://bearmax.ru/local/templates/33/assets/images/png/xbearmax_black.png.pagespeed.ic.7qcvi8tmgt.png"
                                             style="color: transparent;"></a>
                                </div>
                            </div>
                            <div class="flex flex-1 justify-end md:justify-center">
                                <div class="pointer-events-auto md:hidden" data-headlessui-state="">
                                    <button class="group flex items-center rounded-full bg-white/90 px-4 py-2 text-sm font-medium text-zinc-800 shadow-lg shadow-zinc-800/5 ring-1 ring-zinc-900/5 backdrop-blur dark:bg-zinc-800/90 dark:text-zinc-200 dark:ring-white/10 dark:hover:ring-white/20"
                                            type="button" aria-expanded="false" data-headlessui-state=""
                                            id="headlessui-popover-button-:R2qb6:">Menu
                                        <svg viewBox="0 0 8 6" aria-hidden="true"
                                             class="ml-3 h-auto w-2 stroke-zinc-500 group-hover:stroke-zinc-700 dark:group-hover:stroke-zinc-400">
                                            <path d="M1.75 1.75 4 4.25l2.25-2.5" fill="none" stroke-width="1.5"
                                                  stroke-linecap="round" stroke-linejoin="round"></path>
                                        </svg>
                                    </button>
                                </div>
                                <nav class="pointer-events-auto hidden md:block">
                                    <ul class="flex rounded-full bg-white/90 px-3 text-sm font-medium text-zinc-800 shadow-lg shadow-zinc-800/5 ring-1 ring-zinc-900/5 backdrop-blur dark:bg-zinc-800/90 dark:text-zinc-200 dark:ring-white/10">
                                        <li>
                                            <a class="relative block px-3 py-2 transition hover:text-indigo-500 dark:hover:text-indigo-400"
                                               href="blog.html">Блог</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="flex justify-end md:flex-1">
                                <div class="pointer-events-auto">
                                    <button type="button" aria-label="Toggle dark mode"
                                            class="group rounded-full bg-white/90 px-3 py-2 shadow-lg shadow-zinc-800/5 ring-1 ring-zinc-900/5 backdrop-blur transition dark:bg-zinc-800/90 dark:ring-white/10 dark:hover:ring-white/20">
                                        <svg viewBox="0 0 24 24" stroke-width="1.5" stroke-linecap="round"
                                             stroke-linejoin="round" aria-hidden="true"
                                             class="h-6 w-6 fill-zinc-100 stroke-zinc-500 transition group-hover:fill-zinc-200 group-hover:stroke-zinc-700 dark:hidden [@media(prefers-color-scheme:dark)]:fill-indigo-50 [@media(prefers-color-scheme:dark)]:stroke-indigo-500 [@media(prefers-color-scheme:dark)]:group-hover:fill-indigo-50 [@media(prefers-color-scheme:dark)]:group-hover:stroke-indigo-600">
                                            <path d="M8 12.25A4.25 4.25 0 0 1 12.25 8v0a4.25 4.25 0 0 1 4.25 4.25v0a4.25 4.25 0 0 1-4.25 4.25v0A4.25 4.25 0 0 1 8 12.25v0Z"></path>
                                            <path d="M12.25 3v1.5M21.5 12.25H20M18.791 18.791l-1.06-1.06M18.791 5.709l-1.06 1.06M12.25 20v1.5M4.5 12.25H3M6.77 6.77 5.709 5.709M6.77 17.73l-1.061 1.061"
                                                  fill="none"></path>
                                        </svg>
                                        <svg viewBox="0 0 24 24" aria-hidden="true"
                                             class="hidden h-6 w-6 fill-zinc-700 stroke-zinc-500 transition dark:block [@media(prefers-color-scheme:dark)]:group-hover:stroke-zinc-400 [@media_not_(prefers-color-scheme:dark)]:fill-indigo-400/10 [@media_not_(prefers-color-scheme:dark)]:stroke-indigo-500">
                                            <path d="M17.25 16.22a6.937 6.937 0 0 1-9.47-9.47 7.451 7.451 0 1 0 9.47 9.47ZM12.75 7C17 7 17 2.75 17 2.75S17 7 21.25 7C17 7 17 11.25 17 11.25S17 7 12.75 7Z"
                                                  stroke-width="1.5" stroke-linecap="round"
                                                  stroke-linejoin="round"></path>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<main>
    <div class="sm:px-8 mt-9">
        <div class="mx-auto max-w-7xl lg:px-8">
            <div class="relative px-4 sm:px-8 lg:px-12">
                <div class="mx-auto max-w-2xl lg:max-w-5xl">
                    <div class="max-w-2xl">
                        <h1 class="text-4xl font-bold tracking-tight text-zinc-800 dark:text-zinc-100 sm:text-5xl">
                            Оптимизация веб-приложений.</h1>
                        <ol class="mt-2 flex text-sm leading-6 whitespace-nowrap min-w-0">
                            <li class="flex items-center">Главная
                                <svg width="3" height="6" aria-hidden="true"
                                     class="mx-3 overflow-visible text-slate-400">
                                    <path d="M0 0L3 3L0 6" fill="none" stroke="currentColor" stroke-width="1.5"
                                          stroke-linecap="round"></path>
                                </svg>
                            </li>
                            <li class="flex items-center">Блог
                                <svg width="3" height="6" aria-hidden="true"
                                     class="mx-3 overflow-visible text-slate-400">
                                    <path d="M0 0L3 3L0 6" fill="none" stroke="currentColor" stroke-width="1.5"
                                          stroke-linecap="round"></path>
                                </svg>
                            </li>
                            <li class="flex items-center">WEB
                                <svg width="3" height="6" aria-hidden="true"
                                     class="mx-3 overflow-visible text-slate-400">
                                    <path d="M0 0L3 3L0 6" fill="none" stroke="currentColor" stroke-width="1.5"
                                          stroke-linecap="round"></path>
                                </svg>
                            </li>
                            <li class="font-semibold text-slate-900 truncate dark:text-slate-200">Оптимизация</li>
                        </ol>
                        <p class="mt-6 text-base text-zinc-600 dark:text-zinc-400">Процесс поиска наилучшего решения!
                            Оптимизация - затрагиват не только быстродействие кода, но и его улучшенная валидность для
                            поисковых машин, более стабильной и быстрой работы приложения - для новый так и постоянных
                            посетителей приложения!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sm:px-8 mt-24 md:mt-28">
        <div class="mx-auto max-w-7xl lg:px-8">
            <div class="relative px-4 sm:px-8 lg:px-12">
                <div class="mx-auto max-w-2xl lg:max-w-5xl">
                    <div class="mx-auto grid max-w-xl grid-cols-1 gap-y-20 lg:max-w-none lg:grid-cols-2">
                        <div class="flex flex-col gap-16">
                            <article class="group relative flex flex-col items-start">
                                <h2 class="text-base font-semibold tracking-tight text-zinc-800 dark:text-zinc-100">
                                    <div class="absolute -inset-x-4 -inset-y-6 z-0 scale-95 bg-zinc-50 opacity-0 transition group-hover:scale-100 group-hover:opacity-100 dark:bg-zinc-800/50 sm:-inset-x-6 sm:rounded-2xl"></div>
                                    <a href="blog-detail.html">
                                        <span class="absolute -inset-x-4 -inset-y-6 z-20 sm:-inset-x-6 sm:rounded-2xl"></span>
                                        <span class="relative z-10">Crafting a design system for a multiplanetary future</span>
                                    </a>
                                </h2>

                                <div class="flex relative order-first z-10 items-center mb-3 space-x-3 text-zinc-400 dark:text-zinc-500 pl-3.5">
                                    <a href="author.html" class="flex items-center gap-3">
                                        <div class="relative flex-shrink-0 w-5 h-5">
                                            <img alt="Author Photo" class="rounded-full" width="40" height="40"
                                                 src="https://stablo-astro.web3templates.com/_astro/mario_6AIBA.webp"
                                                 loading="lazy"
                                                 decoding="async">
                                        </div>
                                        <span class="text-sm">Максим Сиваконь</span>
                                    </a>
                                    <span class="text-xs text-zinc-400 dark:text-zinc-500"> •</span>
                                    <span class="text-sm">31 декабря 2023 г.</span>
                                </div>

                                <p class="relative z-10 mt-2 text-sm text-zinc-600 dark:text-zinc-400">
                                    Most companies
                                    try to stay ahead of the curve when it comes to visual design, but for Planetaria we
                                    needed to create a brand that would still inspire us 100 years from now when
                                    humanity has spread across our entire solar system.
                                </p>
                                <a href="blog-detail.html" aria-hidden="true"
                                   class="relative z-10 mt-4 flex items-center text-sm font-medium text-indigo-500">Read
                                    article
                                    <svg viewBox="0 0 16 16" fill="none" aria-hidden="true"
                                         class="ml-1 h-4 w-4 stroke-current">
                                        <path d="M6.75 5.75 9.25 8l-2.5 2.25" stroke-width="1.5" stroke-linecap="round"
                                              stroke-linejoin="round"></path>
                                    </svg>
                                </a>
                            </article>
                            <article class="group relative flex flex-col items-start">
                                <h2 class="text-base font-semibold tracking-tight text-zinc-800 dark:text-zinc-100">
                                    <div class="absolute -inset-x-4 -inset-y-6 z-0 scale-95 bg-zinc-50 opacity-0 transition group-hover:scale-100 group-hover:opacity-100 dark:bg-zinc-800/50 sm:-inset-x-6 sm:rounded-2xl"></div>
                                    <a href="blog-detail.html">
                                        <span class="absolute -inset-x-4 -inset-y-6 z-20 sm:-inset-x-6 sm:rounded-2xl"></span>
                                        <span class="relative z-10">Crafting a design system for a multiplanetary future</span>
                                    </a>
                                </h2>

                                <div class="flex relative order-first z-10 items-center mb-3 space-x-3 text-zinc-400 dark:text-zinc-500 pl-3.5">
                                    <a href="author.html" class="flex items-center gap-3">
                                        <div class="relative flex-shrink-0 w-5 h-5">
                                            <img alt="Author Photo" class="rounded-full" width="40" height="40"
                                                 src="https://stablo-astro.web3templates.com/_astro/mario_6AIBA.webp"
                                                 loading="lazy"
                                                 decoding="async">
                                        </div>
                                        <span class="text-sm">Максим Сиваконь</span>
                                    </a>
                                    <span class="text-xs text-zinc-400 dark:text-zinc-500"> •</span>
                                    <span class="text-sm">31 декабря 2023 г.</span>
                                </div>

                                <p class="relative z-10 mt-2 text-sm text-zinc-600 dark:text-zinc-400">
                                    Most companies
                                    try to stay ahead of the curve when it comes to visual design, but for Planetaria we
                                    needed to create a brand that would still inspire us 100 years from now when
                                    humanity has spread across our entire solar system.
                                </p>
                                <a href="blog-detail.html" aria-hidden="true"
                                   class="relative z-10 mt-4 flex items-center text-sm font-medium text-indigo-500">Read
                                    article
                                    <svg viewBox="0 0 16 16" fill="none" aria-hidden="true"
                                         class="ml-1 h-4 w-4 stroke-current">
                                        <path d="M6.75 5.75 9.25 8l-2.5 2.25" stroke-width="1.5" stroke-linecap="round"
                                              stroke-linejoin="round"></path>
                                    </svg>
                                </a>
                            </article>
                            <article class="group relative flex flex-col items-start">
                                <h2 class="text-base font-semibold tracking-tight text-zinc-800 dark:text-zinc-100">
                                    <div class="absolute -inset-x-4 -inset-y-6 z-0 scale-95 bg-zinc-50 opacity-0 transition group-hover:scale-100 group-hover:opacity-100 dark:bg-zinc-800/50 sm:-inset-x-6 sm:rounded-2xl"></div>
                                    <a href="blog-detail.html">
                                        <span class="absolute -inset-x-4 -inset-y-6 z-20 sm:-inset-x-6 sm:rounded-2xl"></span>
                                        <span class="relative z-10">Crafting a design system for a multiplanetary future</span>
                                    </a>
                                </h2>

                                <div class="flex relative order-first z-10 items-center mb-3 space-x-3 text-zinc-400 dark:text-zinc-500 pl-3.5">
                                    <a href="author.html" class="flex items-center gap-3">
                                        <div class="relative flex-shrink-0 w-5 h-5">
                                            <img alt="Author Photo" class="rounded-full" width="40" height="40"
                                                 src="https://stablo-astro.web3templates.com/_astro/mario_6AIBA.webp"
                                                 loading="lazy"
                                                 decoding="async">
                                        </div>
                                        <span class="text-sm">Максим Сиваконь</span>
                                    </a>
                                    <span class="text-xs text-zinc-400 dark:text-zinc-500"> •</span>
                                    <span class="text-sm">31 декабря 2023 г.</span>
                                </div>

                                <p class="relative z-10 mt-2 text-sm text-zinc-600 dark:text-zinc-400">
                                    Most companies
                                    try to stay ahead of the curve when it comes to visual design, but for Planetaria we
                                    needed to create a brand that would still inspire us 100 years from now when
                                    humanity has spread across our entire solar system.
                                </p>
                                <a href="blog-detail.html" aria-hidden="true"
                                   class="relative z-10 mt-4 flex items-center text-sm font-medium text-indigo-500">Read
                                    article
                                    <svg viewBox="0 0 16 16" fill="none" aria-hidden="true"
                                         class="ml-1 h-4 w-4 stroke-current">
                                        <path d="M6.75 5.75 9.25 8l-2.5 2.25" stroke-width="1.5" stroke-linecap="round"
                                              stroke-linejoin="round"></path>
                                    </svg>
                                </a>
                            </article>
                            <article class="group relative flex flex-col items-start">
                                <h2 class="text-base font-semibold tracking-tight text-zinc-800 dark:text-zinc-100">
                                    <div class="absolute -inset-x-4 -inset-y-6 z-0 scale-95 bg-zinc-50 opacity-0 transition group-hover:scale-100 group-hover:opacity-100 dark:bg-zinc-800/50 sm:-inset-x-6 sm:rounded-2xl"></div>
                                    <a href="blog-detail.html">
                                        <span class="absolute -inset-x-4 -inset-y-6 z-20 sm:-inset-x-6 sm:rounded-2xl"></span>
                                        <span class="relative z-10">Crafting a design system for a multiplanetary future</span>
                                    </a>
                                </h2>

                                <div class="flex relative order-first z-10 items-center mb-3 space-x-3 text-zinc-400 dark:text-zinc-500 pl-3.5">
                                    <a href="author.html" class="flex items-center gap-3">
                                        <div class="relative flex-shrink-0 w-5 h-5">
                                            <img alt="Author Photo" class="rounded-full" width="40" height="40"
                                                 src="https://stablo-astro.web3templates.com/_astro/mario_6AIBA.webp"
                                                 loading="lazy"
                                                 decoding="async">
                                        </div>
                                        <span class="text-sm">Максим Сиваконь</span>
                                    </a>
                                    <span class="text-xs text-zinc-400 dark:text-zinc-500"> •</span>
                                    <span class="text-sm">31 декабря 2023 г.</span>
                                </div>

                                <p class="relative z-10 mt-2 text-sm text-zinc-600 dark:text-zinc-400">
                                    Most companies
                                    try to stay ahead of the curve when it comes to visual design, but for Planetaria we
                                    needed to create a brand that would still inspire us 100 years from now when
                                    humanity has spread across our entire solar system.
                                </p>
                                <a href="blog-detail.html" aria-hidden="true"
                                   class="relative z-10 mt-4 flex items-center text-sm font-medium text-indigo-500">Read
                                    article
                                    <svg viewBox="0 0 16 16" fill="none" aria-hidden="true"
                                         class="ml-1 h-4 w-4 stroke-current">
                                        <path d="M6.75 5.75 9.25 8l-2.5 2.25" stroke-width="1.5" stroke-linecap="round"
                                              stroke-linejoin="round"></path>
                                    </svg>
                                </a>
                            </article>
                            <article class="group relative flex flex-col items-start">
                                <h2 class="text-base font-semibold tracking-tight text-zinc-800 dark:text-zinc-100">
                                    <div class="absolute -inset-x-4 -inset-y-6 z-0 scale-95 bg-zinc-50 opacity-0 transition group-hover:scale-100 group-hover:opacity-100 dark:bg-zinc-800/50 sm:-inset-x-6 sm:rounded-2xl"></div>
                                    <a href="blog-detail.html">
                                        <span class="absolute -inset-x-4 -inset-y-6 z-20 sm:-inset-x-6 sm:rounded-2xl"></span>
                                        <span class="relative z-10">Crafting a design system for a multiplanetary future</span>
                                    </a>
                                </h2>

                                <div class="flex relative order-first z-10 items-center mb-3 space-x-3 text-zinc-400 dark:text-zinc-500 pl-3.5">
                                    <a href="author.html" class="flex items-center gap-3">
                                        <div class="relative flex-shrink-0 w-5 h-5">
                                            <img alt="Author Photo" class="rounded-full" width="40" height="40"
                                                 src="https://stablo-astro.web3templates.com/_astro/mario_6AIBA.webp"
                                                 loading="lazy"
                                                 decoding="async">
                                        </div>
                                        <span class="text-sm">Максим Сиваконь</span>
                                    </a>
                                    <span class="text-xs text-zinc-400 dark:text-zinc-500"> •</span>
                                    <span class="text-sm">31 декабря 2023 г.</span>
                                </div>

                                <p class="relative z-10 mt-2 text-sm text-zinc-600 dark:text-zinc-400">
                                    Most companies
                                    try to stay ahead of the curve when it comes to visual design, but for Planetaria we
                                    needed to create a brand that would still inspire us 100 years from now when
                                    humanity has spread across our entire solar system.
                                </p>
                                <a href="blog-detail.html" aria-hidden="true"
                                   class="relative z-10 mt-4 flex items-center text-sm font-medium text-indigo-500">Read
                                    article
                                    <svg viewBox="0 0 16 16" fill="none" aria-hidden="true"
                                         class="ml-1 h-4 w-4 stroke-current">
                                        <path d="M6.75 5.75 9.25 8l-2.5 2.25" stroke-width="1.5" stroke-linecap="round"
                                              stroke-linejoin="round"></path>
                                    </svg>
                                </a>
                            </article>
                        </div>
                        <div class="space-y-10 lg:pl-16 xl:pl-24">
                            <div class="rounded-2xl border border-zinc-100 p-6 dark:border-zinc-700/40">
                                <h2 class="flex text-sm font-semibold text-zinc-900 dark:text-zinc-100">
                                    <svg viewBox="0 0 24 24" fill="none" stroke-width="1.5" stroke-linecap="round"
                                         stroke-linejoin="round" aria-hidden="true" class="h-6 w-6 flex-none">
                                        <path d="M2.75 9.75a3 3 0 0 1 3-3h12.5a3 3 0 0 1 3 3v8.5a3 3 0 0 1-3 3H5.75a3 3 0 0 1-3-3v-8.5Z"
                                              class="fill-zinc-100 stroke-zinc-400 dark:fill-zinc-100/10 dark:stroke-zinc-500"></path>
                                        <path d="M3 14.25h6.249c.484 0 .952-.002 1.316.319l.777.682a.996.996 0 0 0 1.316 0l.777-.682c.364-.32.832-.319 1.316-.319H21M8.75 6.5V4.75a2 2 0 0 1 2-2h2.5a2 2 0 0 1 2 2V6.5"
                                              class="stroke-zinc-400 dark:stroke-zinc-500"></path>
                                    </svg>
                                    <span class="ml-3">Разделы</span>
                                </h2>
                                <ol class="mt-6 space-y-4">
                                    <li class="flex gap-4">
                                        <div class="relative mt-1 flex h-10 w-10 flex-none items-center justify-center rounded-full shadow-md shadow-zinc-800/5 ring-1 ring-zinc-900/5 dark:border dark:border-zinc-700/50 dark:bg-zinc-800 dark:ring-0">
                                            <img alt="" loading="lazy" width="32" height="32" decoding="async"
                                                 data-nimg="1" class="h-7 w-7"
                                                 src="https://schtirlitz.ru/800/600/https/pitercss.ru/32/pres/custom-props/pictures/css_logo.png"
                                                 style="color: transparent;">
                                        </div>
                                        <dl class="flex flex-auto flex-wrap gap-x-2">
                                            <dd class="w-full flex-none text-sm font-medium text-zinc-900 dark:text-zinc-100">
                                                CSS
                                            </dd>
                                            <dd class="text-xs text-zinc-500 dark:text-zinc-400">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consequuntur
                                                cupiditate dolorem ducimus, explicabo fugit in minima nemo nihil
                                                perferendis possimus praesentium quod, sit, tempore unde? Amet eveniet
                                                iure laudantium!
                                            </dd>
                                        </dl>
                                    </li>
                                    <li class="flex gap-4">
                                        <div class="relative mt-1 flex h-10 w-10 flex-none items-center justify-center rounded-full shadow-md shadow-zinc-800/5 ring-1 ring-zinc-900/5 dark:border dark:border-zinc-700/50 dark:bg-zinc-800 dark:ring-0">
                                            <img alt="" loading="lazy" width="32" height="32" decoding="async"
                                                 data-nimg="1" class="h-7 w-7"
                                                 src="https://sun6-23.userapi.com/s/v1/ig2/dUd6JuN-6tQlUCvidD46QGFSE0YAMo05D-L-KKReqr7goKAXWhNg2vuxi4gRSJpnaujUBOi-ihpvMfVR4Om1q4Df.jpg?size=1020x1020&quality=95&crop=0,0,1020,1020&ava=1"
                                                 style="color: transparent;">
                                        </div>
                                        <dl class="flex flex-auto flex-wrap gap-x-2">
                                            <dd class="w-full flex-none text-sm font-medium text-zinc-900 dark:text-zinc-100">
                                                JS
                                            </dd>
                                            <dd class="text-xs text-zinc-500 dark:text-zinc-400">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consequuntur
                                                cupiditate dolorem ducimus, explicabo fugit in minima nemo nihil
                                                perferendis possimus praesentium quod, sit, tempore unde? Amet eveniet
                                                iure laudantium!
                                            </dd>
                                        </dl>
                                    </li>
                                    <li class="flex gap-4">
                                        <div class="relative mt-1 flex h-10 w-10 flex-none items-center justify-center rounded-full shadow-md shadow-zinc-800/5 ring-1 ring-zinc-900/5 dark:border dark:border-zinc-700/50 dark:bg-zinc-800 dark:ring-0">
                                            <img alt="" loading="lazy" width="32" height="32" decoding="async"
                                                 data-nimg="1" class="h-7 w-7"
                                                 src="https://vectorseek.com/wp-content/uploads/2023/03/Golang-Gopher-Logo-Vector.jpg"
                                                 style="color: transparent;">
                                        </div>
                                        <dl class="flex flex-auto flex-wrap gap-x-2">
                                            <dd class="w-full flex-none text-sm font-medium text-zinc-900 dark:text-zinc-100">
                                                Go
                                            </dd>
                                            <dd class="text-xs text-zinc-500 dark:text-zinc-400">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consequuntur
                                                cupiditate dolorem ducimus, explicabo fugit in minima nemo nihil
                                                perferendis possimus praesentium quod, sit, tempore unde? Amet eveniet
                                                iure laudantium!
                                            </dd>
                                        </dl>
                                    </li>
                                    <li class="flex gap-4">
                                        <div class="relative mt-1 flex h-10 w-10 flex-none items-center justify-center rounded-full shadow-md shadow-zinc-800/5 ring-1 ring-zinc-900/5 dark:border dark:border-zinc-700/50 dark:bg-zinc-800 dark:ring-0">
                                            <img alt="" loading="lazy" width="32" height="32" decoding="async"
                                                 data-nimg="1" class="h-7 w-7"
                                                 src="https://www.hlr-lookups.com/images/logo-php.png"
                                                 style="color: transparent;">
                                        </div>
                                        <dl class="flex flex-auto flex-wrap gap-x-2">
                                            <dd class="w-full flex-none text-sm font-medium text-zinc-900 dark:text-zinc-100">
                                                PHP
                                            </dd>
                                            <dd class="text-xs text-zinc-500 dark:text-zinc-400">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consequuntur
                                                cupiditate dolorem ducimus, explicabo fugit in minima nemo nihil
                                                perferendis possimus praesentium quod, sit, tempore unde? Amet eveniet
                                                iure laudantium!
                                            </dd>
                                        </dl>
                                    </li>
                                    <li class="flex gap-4">
                                        <div class="relative mt-1 flex h-10 w-10 flex-none items-center justify-center rounded-full shadow-md shadow-zinc-800/5 ring-1 ring-zinc-900/5 dark:border dark:border-zinc-700/50 dark:bg-zinc-800 dark:ring-0">
                                            <img alt="" loading="lazy" width="32" height="32" decoding="async"
                                                 data-nimg="1" class="h-7 w-7"
                                                 src="https://www.kindpng.com/picc/m/424-4243063_transparent-optimization-icon-hd-png-download.png"
                                                 style="color: transparent;">
                                        </div>
                                        <dl class="flex flex-auto flex-wrap gap-x-2">
                                            <dd class="w-full flex-none text-sm font-medium text-zinc-900 dark:text-zinc-100">
                                                Оптимизация
                                            </dd>
                                            <dd class="text-xs text-zinc-500 dark:text-zinc-400">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consequuntur
                                                cupiditate dolorem ducimus, explicabo fugit in minima nemo nihil
                                                perferendis possimus praesentium quod, sit, tempore unde? Amet eveniet
                                                iure laudantium!
                                            </dd>
                                        </dl>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="mt-8 flex">
                        <a href="#"
                           class="px-4 py-2 mx-1 text-gray-500 capitalize bg-white rounded-md cursor-not-allowed dark:bg-gray-800 dark:text-gray-600">
                            <div class="flex items-center -mx-1">
                                <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 mx-1 rtl:-scale-x-100"
                                     fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M7 16l-4-4m0 0l4-4m-4 4h18"/>
                                </svg>

                                <span class="mx-1">
                previous
            </span>
                            </div>
                        </a>

                        <a href="#"
                           class="hidden px-4 py-2 mx-1 text-gray-700 transition-colors duration-300 transform bg-white rounded-md sm:inline dark:bg-gray-800 dark:text-gray-200 hover:bg-indigo-500 dark:hover:bg-indigo-500 hover:text-white dark:hover:text-gray-200">
                            1
                        </a>

                        <a href="#"
                           class="hidden px-4 py-2 mx-1 text-gray-700 transition-colors duration-300 transform bg-white rounded-md sm:inline dark:bg-gray-800 dark:text-gray-200 hover:bg-indigo-500 dark:hover:bg-indigo-500 hover:text-white dark:hover:text-gray-200">
                            2
                        </a>

                        <a href="#"
                           class="hidden px-4 py-2 mx-1 text-gray-700 transition-colors duration-300 transform bg-white rounded-md sm:inline dark:bg-gray-800 dark:text-gray-200 hover:bg-indigo-500 dark:hover:bg-indigo-500 hover:text-white dark:hover:text-gray-200">
                            3
                        </a>

                        <a href="#"
                           class="hidden px-4 py-2 mx-1 text-gray-700 transition-colors duration-300 transform bg-white rounded-md sm:inline dark:bg-gray-800 dark:text-gray-200 hover:bg-indigo-500 dark:hover:bg-indigo-500 hover:text-white dark:hover:text-gray-200">
                            4
                        </a>

                        <a href="#"
                           class="hidden px-4 py-2 mx-1 text-gray-700 transition-colors duration-300 transform bg-white rounded-md sm:inline dark:bg-gray-800 dark:text-gray-200 hover:bg-indigo-500 dark:hover:bg-indigo-500 hover:text-white dark:hover:text-gray-200">
                            5
                        </a>

                        <a href="#"
                           class="px-4 py-2 mx-1 text-gray-700 transition-colors duration-300 transform bg-white rounded-md dark:bg-gray-800 dark:text-gray-200 hover:bg-indigo-500 dark:hover:bg-indigo-500 hover:text-white dark:hover:text-gray-200">
                            <div class="flex items-center -mx-1">
            <span class="mx-1">
                Next
            </span>

                                <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 mx-1 rtl:-scale-x-100"
                                     fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M17 8l4 4m0 0l-4 4m4-4H3"/>
                                </svg>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<footer class="mt-32">
    <div class="sm:px-8">
        <div class="mx-auto max-w-7xl lg:px-8">
            <div class="border-t border-zinc-100 pb-16 pt-10 dark:border-zinc-700/40">
                <div class="relative px-4 sm:px-8 lg:px-12">
                    <div class="mx-auto max-w-2xl lg:max-w-5xl">
                        <div class="flex flex-col items-center justify-between gap-6 sm:flex-row">
                            <div class="flex flex-wrap justify-center gap-x-6 gap-y-1 text-sm font-medium text-zinc-800 dark:text-zinc-200">
                                <a class="transition hover:text-indigo-500 dark:hover:text-indigo-400"
                                   href="blog.html">Блог</a>
                                <a class="transition hover:text-indigo-500 dark:hover:text-indigo-400" href="#">Privacy
                                    Policy</a>
                                <a class="transition hover:text-indigo-500 dark:hover:text-indigo-400" href="#">Terms of
                                    Use</a>
                                <a class="transition hover:text-indigo-500 dark:hover:text-indigo-400" href="#">Site
                                    Map</a>
                            </div>
                            <p class="text-sm text-zinc-400 dark:text-zinc-500">
                                © <!-- -->2023<!-- --> bearmax.ru. All rights reserved.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

</body>
</html>