<!doctype html>
<html lang="ru" class="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="access/css/style.css" rel="stylesheet">
    <title>Главная</title>
</head>
<body>

<header></header>

<main>
    <section>
        <h1 class="col-start-1 row-start-2 mt-4 max-w-[36rem] text-4xl font-extrabold tracking-tight text-slate-900 sm:text-7xl xl:max-w-[43.5rem]">Lisabessa Airport</h1>
    </section>
</main>

<footer></footer>

<script src="access/js/scripts.js"></script>

</body>
</html>